/* This is an example of using Sass, otherwise plain CSS works too*/

$primary-background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(252, 70, 107, 1) 100%);
;
body {
    background: $primary-background;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .7fr 2fr;
    grid-template-areas: "h1 annual-cost" "booking booking" "card-grid card-grid"
}

img {
    height: 5em;
}

h1 {
    background-color: rgb(0, 255, 145);
    grid-area: h1;
}

.annual-cost {
    background-color: blue;
    grid-area: annual-cost;
    color: blanchedalmond;
    padding: 2em;
}

.booking {
    background-color: yellowgreen;
    grid-area: booking;
}

.card-grid {
    background-color: turquoise;
    grid-area: card-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 1rem;
}

.card {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-trip {
    height: 5vh;
}